@model WebApplication5.Models.Mail

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h4 class="center light">Chỉnh sửa bản ghi Mail: @Model.Id</h4>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row card-panel hoverable">


            @Html.ValidationSummary(true, "", new {@class = "red-text"})
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(m => m.CreateDate)

            <div class="row">
                <div class="col l1 offset-l2">
                    @Html.LabelFor(model => model.UserIdRef)
                </div>                
                <div class="col l7">
                    @Html.DropDownList("UserIdRef")
                    @Html.ValidationMessageFor(model => model.UserIdRef, "", new {@class = "red-text"})
                </div>
            </div>

            <div class="row">
                <div class="col l1 offset-l2">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "" })
                </div>
                <div class="col l7">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "red-text" })
                </div>
            </div>
            
            <div class="row">
                <div class="col l1 offset-l2">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "" })
                </div>
                <div class="col l7">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "red-text" })
                </div>
            </div>

            <div class="row">
                <div class="col l1 offset-l2">
                    @Html.LabelFor(model => model.MailContent, htmlAttributes: new { @class = "" })
                </div>
                <div class="col l7">
                    @Html.EditorFor(model => model.MailContent, new { htmlAttributes = new { @class = "" } })
                    @Html.ValidationMessageFor(model => model.MailContent, "", new { @class = "red-text" })
                </div>
            </div>

            <div class="row">
                <div class="col l1 offset-l2">
                    @Html.LabelFor(model => model.CreateDate, htmlAttributes: new { @class = "" })
                </div>
                <div class="col l7">
                    @Html.EditorFor(model => model.CreateDate, new { htmlAttributes = new { @class = "" } })
                    @Html.ValidationMessageFor(model => model.CreateDate, "", new { @class = "red-text" })
                </div>
            </div>

            <div class="row">
                <div class="col l1 offset-l2">
                    
                </div>
                <div class="col l7">
                    @if (Model.IsSent)
                    {
                        <input type="checkbox" id="IsSent" value="true" name="IsSent" checked />
                    }
                    else
                    {
                        <input type="checkbox" id="IsSent" value="true" name="IsSent" />
                    }
                    <label for="IsSent">Đã thanh toán</label>
                    @Html.ValidationMessageFor(model => model.IsSent, "", new { @class = "red-text" })
                </div>
            </div>           
            
        </div>

        <div div class="row card-panel hoverable center">
            <input type="submit" value="Save" class="btn btn-default" />
            @Html.ActionLink("Back to List", "Index", null, new {@class = "waves-effect waves-light btn"})
        </div>
    }
    
</div>
