@model WebApplication5.Models.ShoppingCart

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="row card-panel hoverable">
        <h4 class="center">ShoppingCart</h4>
        
        @Html.ValidationSummary(true, "", new { @class = "red-text" })
        @Html.HiddenFor(model => model.Id)

        <div class="row">
            @Html.LabelFor(model => model.UserIdRef, "UserIdRef", htmlAttributes: new { @class = "" })
            <div class="col-md-10">
                @Html.DropDownList("UserIdRef", null, htmlAttributes: new { @class = "" })
                @Html.ValidationMessageFor(model => model.UserIdRef, "", new { @class = "red-text" })
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "red-text" })
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(model => model.CreateDate, htmlAttributes: new { @class = "" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateDate, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.CreateDate, "", new { @class = "red-text" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class= "waves-effect waves-light btn" })
</div>
