@model PagedList.IPagedList<WebApplication5.Models.Product>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css"/>

@{
    ViewBag.Title = "Index";
}
<!-- Page Content -->
<div class="container">

    <h2 class="light center">Giỏ hàng của bạn</h2>
    <div class="center">
        @using (Html.BeginForm("Index", "UserProducts", FormMethod.Get))
        {
            <p>
                <label>Tìm theo tên</label>
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                <input class="" type="submit" value="Search" />
            </p>
        }
    </div>
 
    <h3>Sort By:</h3>
    @Html.ActionLink("Last Name", "Index", new {sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter})
    /
    @Html.ActionLink("Create Date", "Index", new {sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter})


    <!-- Content Row -->
    <div class="row">
        <div class="col-md-12">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <h2>@Html.DisplayFor(modelItem => item.Name)</h2>

                    <img src="../../@Html.Raw(item.ImageLink)" style="height: auto; width: 280px"/>
                    <p>
                        Category: @Html.DisplayFor(modelItem => item.Category.Code)
                    </p>
                    <p>
                        Title: @Html.DisplayFor(modelItem => item.Document.Title)
                    </p>
                    <p>
                        Description: @Html.DisplayFor(modelItem => item.Description)
                    </p>
                    <p>
                        Price: @Html.DisplayFor(modelItem => item.Price)
                    </p>
                    <p>
                        Origin: @Html.DisplayFor(modelItem => item.Origin)
                    </p>
                    <p>
                        Added Date: @Html.DisplayFor(modelItem => item.CreateDate)
                    </p>
                    <a class="btn btn-default" href="#">More Info</a>
                </div>
            }
        </div>
    </div>
    <br/>
    <div class="row" style="text-align: center;">
        <div class="col-md-12">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index",
                new {page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter}))
        </div>
    </div>    
</div>

