@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Parallax Template - Materialize</title>
    <!-- CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="@Url.Content("~/Content/materialize/css/materialize.css")" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="@Url.Content("~/Content/materialize/css/style.css")" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="@Url.Content("~/Content/JQueryUI/themes/base/jquery.ui.all.css")" rel="stylesheet"/>
    <link href="/Content/ChatStyle.css" rel="stylesheet"/>

    @*<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />*@
    <link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet"/>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet"/>
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
    <script src="@Url.Content("~/Content/vendor/bootstrap/js/bootstrap.js")"></script>
    <link href="@Url.Content("~/Content/vendor/font-awesome/css/font-awesome.css")" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="/Scripts/ui/jquery.ui.core.js"></script>
    <script src="/Scripts/ui/jquery.ui.widget.js"></script>
    <script src="/Scripts/ui/jquery.ui.mouse.js"></script>
    <script src="/Scripts/ui/jquery.ui.draggable.js"></script>
    <script src="/Scripts/ui/jquery.ui.resizable.js"></script>
</head>
<body>
<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        @Html.ActionLink("Wood Pro", "Index", "Home", null, new {style = "text-decoration: none", @class = "brand-logo brown-text text-lighten-2"})
        <ul id="nav-mobile" class="side-nav">
            @Html.Partial("_LoginPartial")
            <li>@Html.ActionLink("Danh mục", "Index", "Categories", null, new {style = "text-decoration: none"})</li>
            <li>@Html.ActionLink("Sản phẩm", "Index", "Products", null, new {style = "text-decoration: none"})</li>
            <li>@Html.ActionLink("Giỏ hàng", "Index", "Carts", null, new {style = "text-decoration: none"})</li>
            <li>@Html.ActionLink("Giới thiệu", "About", "Home", null, new {style = "text-decoration: none"})</li>
            <li>@Html.ActionLink("Liên hệ", "Contact", "Home", null, new {style = "text-decoration: none"})</li>

        </ul>

        <ul class="right hide-on-med-and-down">
            <li>@Html.ActionLink("Danh mục", "Index", "Categories", null, new {style = "text-decoration: none"})</li>
            <li>@Html.ActionLink("Sản phẩm", "Index", "Products", null, new {style = "text-decoration: none"})</li>
            <li>@Html.ActionLink("Giỏ hàng", "Index", "Carts", null, new {style = "text-decoration: none"})</li>
            <li>@Html.ActionLink("Giới thiệu", "About", "Home", null, new {style = "text-decoration: none"})</li>
            <li>@Html.ActionLink("Liên hệ", "Contact", "Home", null, new {style = "text-decoration: none"})</li>
            <li>@Html.Partial("_LoginPartial")</li>
        </ul>

        <a href="#" data-activates="nav-mobile" class="button-collapse">
            <i class="material-icons">menu</i>
        </a>
    </div>
</nav>

@RenderBody()

<div class="fixed-action-btn horizontal">
    <a class="btn-floating btn-large red" id="chatBtn">
        <i class="large material-icons">mode_edit</i>
    </a>
</div>

<div style="position: fixed; bottom: 0; right: 1%; display: none" id="chatDiv">
    <div id="divContainer">
        <div id="divLogin" class="login">
            <div>
                Tên của bạn:<br/>
                <input id="txtNickName" type="text" class="textBox"/>
            </div>
            <div id="divButton">
                <input id="btnStartChat" type="button" class="submitButton" value="Bắt đầu chat"/>
            </div>
        </div>

        <div id="divChat" class="chatRoom">
            <div class="title">
                Chào bạn: [<span id="spanUser"></span>]
                <i class="material-icons right green-text" style="cursor: pointer" id="doneBtn">done</i>
            </div>
            <div class="content">
                <div id="divusers" class="users">
                </div>
            </div>
        </div>

        <input id="hdId" type="hidden"/>
        <input id="hdUserName"
               type="hidden"/>
        <input id="hdRole" value="Customer"
               type="hidden"/>
    </div>
</div>
<script>
    $('#chatBtn')
        .click(function() {
            $(this).hide();
            $('#chatDiv').show();
        });

    $('#doneBtn')
        .click(function() {
            $('#chatBtn').show();
            $('#chatDiv').hide();
        });

</script>


<footer class="page-footer brown darken-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Company Wood pro </h5>
                <p class="grey-text text-lighten-4">Chúng tôi cam kết mang lại những sản phẩm đảm bảo chất lượng phù hợp với giá cả theo từng dòng , sản phẩm tinh tế tới từng chi tiết nhỏ nhất mang lại sự hài hòa cho không gian của bạn .</p>

            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Đối tác vàng</h5>
                <ul>
                    <li>
                        <a class="white-text" href="http://vuongquocnoithat.vn/">Đối tác 1</a>
                    </li>
                    <li>
                        <a class="white-text" href="http://vuongquocnoithat.vn/">Đối tác 2</a>
                    </li>
                    <li>
                        <a class="white-text" href="http://vuongquocnoithat.vn/">Đối tác 3</a>
                    </li>
                    <li>
                        <a class="white-text" href="http://vuongquocnoithat.vn/">Đối tác 4</a>
                    </li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Đối tác bạc</h5>
                <ul>
                    <li>
                        <a class="white-text" href="http://vuongquocnoithat.vn/">Đối tác 1</a>
                    </li>
                    <li>
                        <a class="white-text" href="http://vuongquocnoithat.vn/">Đối tác 2</a>
                    </li>
                    <li>
                        <a class="white-text" href="http://vuongquocnoithat.vn/">Đối tác 3</a>
                    </li>
                    <li>
                        <a class="white-text" href="http://vuongquocnoithat.vn/">Đối tác 4</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="brown-text " href="http://materializecss.com">Wood pro</a>
        </div>
    </div>
</footer>

<!-- Scripts-->
<script src="@Url.Content("~/Content/materialize/js/materialize.js")"></script>
<script src="@Url.Content("~/Content/materialize/js/init.js")"></script>
@RenderSection("scripts", false)
<script src="@Url.Content("~/Scripts/jquery.signalR-2.2.1.min.js")"></script>

<!--Reference the autogenerated SignalR hub script. -->
<script src="@Url.Content("/signalr/hubs")"></script>
<script src="@Url.Content("~/Scripts/ChatClientSignalR.js")"></script>

</body>
</html>
