@model WebApplication5.Models.Part

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h4 class="center light">Chỉnh sửa phụ kiện: @Model.Name</h4>
        <div class="row card-panel hoverable">
            @if (string.IsNullOrEmpty(Model.ImageLink))
            {
                <img class="responsive-img" src="http://web-vn.com/wp-content/uploads/2014/04/dummy-image-grey-e1398449111870.jpg" />
            }
            else
            {
                <img class="responsive-img" src="../../..@Url.Content(Model.ImageLink)" />
            }
            <div class="row">
                <div class="col l1 offset-l2">
                    @Html.LabelFor(model => model.ImageLink, "Hình ảnh")
                </div>
                <div class="col l5">
                    @Html.TextBoxFor(m => m.ImageLink, new { id = "ImageLink", @readonly = "" })

                    @Html.ValidationMessageFor(model => model.ImageLink, "", new { @class = "red-text" })
                </div>
                <div class="col l2 center">
                    <a class="waves-effect waves-light btn" id="btnChooseImage">Chọn ảnh</a>
                </div>
            </div>
        </div>
        <div class="row card-panel hoverable">


            @Html.ValidationSummary(true, "", new {@class = "red-text"})
            @Html.HiddenFor(model => model.Id)

            <div class="row">
                <div class="col l1 offset-l2">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new {@class = ""})
                </div>
                <div class="col l7">
                    @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = ""}})
                    @Html.ValidationMessageFor(model => model.Name, "", new {@class = "red-text"})
                </div>
            </div>

            <div class="row">
                <div class="col l1 offset-l2">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new {@class = ""})
                </div>
                <div class="col l7">
                    @Html.EditorFor(model => model.Description, new {htmlAttributes = new {@class = ""}})
                    @Html.ValidationMessageFor(model => model.Description, "", new {@class = "red-text"})
                </div>
            </div>

            <div class="row">
                <div class="col l1 offset-l2">
                    @Html.LabelFor(model => model.Origin, htmlAttributes: new {@class = ""})
                </div>
                <div class="col l7">
                    @Html.EditorFor(model => model.Origin, new {htmlAttributes = new {@class = ""}})
                    @Html.ValidationMessageFor(model => model.Origin, "", new {@class = "red-text"})
                </div>
            </div>

            <div class="row">
                <div class="col l1 offset-l2">
                    @Html.LabelFor(model => model.Manufacturer, htmlAttributes: new {@class = ""})
                </div>
                <div class="col l7">
                    @Html.EditorFor(model => model.Manufacturer, new {htmlAttributes = new {@class = ""}})
                    @Html.ValidationMessageFor(model => model.Manufacturer, "", new {@class = "red-text"})
                </div>
            </div>

            <div class="row">
                <div class="col l1 offset-l2">
                    @Html.LabelFor(model => model.CreateDate, htmlAttributes: new {@class = ""})
                </div>
                <div class="col l7">
                    @Html.EditorFor(model => model.CreateDate, new {htmlAttributes = new {@class = ""}})
                    @Html.ValidationMessageFor(model => model.CreateDate, "", new {@class = "red-text"})
                </div>
            </div>

            <div class="row">
                <div class="col l1 offset-l2">
                    @Html.LabelFor(model => model.DocumentIdRef)
                </div>
                <div class="col l7">
                    @Html.DropDownList("DocumentIdRef", null, htmlAttributes: new {@class = ""})
                    @Html.ValidationMessageFor(model => model.DocumentIdRef, "", new {@class = "red-text"})
                </div>
            </div>           
        </div>

        <div class="row card-panel hoverable center">
            <input type="submit" value="Save" class="btn btn-default" />
            @Html.ActionLink("Back to List", "Index", null, new {@class = "waves-effect waves-light btn"})
        </div>
    }

    
</div>

<script src="@Url.Content("~/Content/ckfinder/ckfinder.js")"></script>
<script src="@Url.Content("~/Scripts/ChooseImageScript.js")"></script>